/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-column-count:  1;
$zen-gutter-width:  20px;

// If you need IE6/7 support for box-sizing: border-box (default), see _init.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  /*max-width: 1200px;*/
}

#page {
  border:solid 2px #384001;
  background-color:white;
  margin-bottom: 1em;
  margin-left:auto;
  margin-right:auto;
  /*margin-top:2.2em;*/
  width:100%;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}

header {
  /*background-color: #0c0c0c;*/
  background:-moz-linear-gradient(#a1ab67, white); /* For Firefox 3.6 to 15 */
  background:linear-gradient(#a1ab67, white); /* Standard syntax */
  margin-left:auto;
  margin-right:auto;
  margin-top:1%;
  text-align:center;
  width:98%;
}

.header__site-link {
  color: #222601;
  font-family: $josefin;
  font-size: 1.4em;
  font-weight: bold;
  text-shadow:2px 2px 2px white;
  text-transform: uppercase;

  a {
    color: #222601;
  }

  &:link,
  &:visited {
    color: #222601;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1 {
  /*font-size: 1.2em;*/
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  color: #222601;
  font-family: $josefin;
  font-size: 1.2em;
  font-style: italic;
  font-weigh: bold;
  margin: 0;
  margin-bottom: 2em;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
}

#navigation {
  clear: left;
  padding: 0;
  width: 100%
}

/**
  * Menu block.
  */
.block-menu-block {
  /*clear: both;*/
  margin-top: -3em;
  width: 100%;

  .menu__item.is-leaf {
    list-style-type: none;
    list-style-image: none;
  }

  ul {
    padding: 0;

    li {
      background-color: #ab9367;
      border: solid white 3px;
      list-style-type: none;
      list-style-image: none;
      text-align: center;

      a {
        font-family: 'Josefin Sans', sans-serif;
        vertical-align:25%;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 0;
        text-decoration:none;
        text-transform:uppercase;
      }
    }

  }
}

.section-work #navigation {
  margin-top: 5em;
}

#block-views-materials-block-1 {
  float: left;
  margin-right: 3em;
  width: 100%;
}

#block-views-materials-block-2 {
  display: none;
}

.contact-form {
  clear: right;
  padding-bottom: 2em;
}

.menu-link {
  background-image:url("../images/menu-collapsed.png");
  background-repeat:no-repeat;
  background-position:right 60%;
  display: block;
  padding: 1em 0.5em 0.5em 0.5em;
  width: 3em;
}

/* Navigation bar */
@media all and (min-width: 480px) {
  body {
    background-image:url("../images/backdrop2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 100%;
    overflow-x: hidden;
  }

  #page {
    border:solid 2px #384001;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5em;
    width:96%;
  }

  #main {
    /* Move all the children of #main down to make room. */
    padding-top: $nav-height;
    position: relative;
  }

  header {
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    text-align:right;
    width:98%;
  }

  /**
 * Navigation bar.
 */
  #navigation {
    /* Sometimes you want to prevent overlapping with main div. */
    /* overflow: hidden; */

    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: $nav-height;
    width: $zen-grid-width;

    .block {
      margin-bottom: 0;
    }

    .block-menu .block__title,
    .block-menu-block .block__title {
      @extend %element-invisible;
    }

    /* Main menu and secondary menu links and menu block links. */
    .links,
    .menu {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      text-align: left; /* LTR */

      li {
        /* A simple method to get navigation links to appear in one line. */
        float: left; *//* LTR *//*
        list-style-type: none;
        list-style-image: none;
      }
    }
  }

  /* The name of the website. */
  .header__site-name {
    font-size: 2.0em;
    margin: 0;
    margin-right: 0.5em;
    margin-top: 0.5em;
  }

  /* The link around the name of the website. */
  .header__site-link {
    font-family: $josefin;
    font-weight: bold;
    text-shadow:3px 3px 3px #855B1B;
    text-transform: none;

    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  /* The slogan (or tagline) of a website. */
  .header__site-slogan {
    color: #fff;
    font-family: $merriweather;
    font-size: 1.7em;
    font-style: italic;
    margin: 0;
    margin-bottom: 2em;
    margin-right: 3.8em;
    text-shadow: 4px 4px 4px #0c0c0c;
    text-transform: none;
  }

  #block-views-materials-block-2 {
    display: block;
    float:left;
    width: 35%;

    .views-field-title {
      background-color: #fff;
      color: #000;
      display: block;
      float: right;
      opacity: 0.7;
      padding: 0.5em;
      position: relative;
      top: 2.4em;
    }
  }

  .menu-link {
    display: none;
  }
}

} // End of @if $zen-reverse-all-floats == true


/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  $zen-column-count: 3;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }

  header {
    background-image:url("../images/banner.jpg");
    background-position:center top;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    text-align:right;
    width:98%;
  }

  /* The name of the website. */
  .header__site-name {
    font-size: 2.0em;
    margin: 0;
    margin-right: 0.5em;
    margin-top: 0.5em;
  }

  /* The link around the name of the website. */
  .header__site-link {
    font-family: $josefin;
    font-weight: bold;
    text-shadow:3px 3px 3px #855B1B;

    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  /* The slogan (or tagline) of a website. */
  .header__site-slogan {
    font-family: $merriweather;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    margin-bottom: 3.5em;
    margin-right: 3.8em;
    text-shadow: 4px 4px 4px #0c0c0c;
  }

  #navigation {
    left: 30%;
    /*margin-bottom: 2em;*/
    position: absolute;
    top: 2.5%;
    width: 90%;

    .block-menu-block {

      ul {

        li {
          border-left: solid white 3px;
          border-right: solid white 3px;
          border-top: solid white 3px;
          margin: 0.2em;
          margin-bottom: 0;
          padding: 0.2em;

          a {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 0.9em;
            font-weight: bold;
            letter-spacing: 0.1em;
            vertical-align: 0;
          }
        }
      }

    }
  }

  .section-work #navigation {
    margin-top: 0;
  }

  .section-gallery {

    #navigation {
      position: absolute;
      top: 1.1%;
    }
  }

  .section-materials {

    #navigation {
      position: absolute;
      top: 0.8%;
    }
  }

  .section-contact {

    #navigation {
      position: absolute;
      top: 1.7%;
    }
  }

  .node-type-material {

    #navigation {
      position: absolute;
      top: 1.7%;
    }
  }

}

/* Workaround for nav issue */
@media all and (min-width: 480px) and (max-width: 720px) {

  .section-gallery {

    #navigation {
      position: absolute;
      top: 0.6%;
    }
  }


}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  $zen-column-count: 5;

  #main {
    padding: 2em 3em 0 3.3em;
  }

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(4, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(3, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(2, 4);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }

  /**
* hgroup
*/
  hgroup {
    display: block;
  }

  header {
    background-image:url("../images/banner.jpg");
    background-position:center top;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    text-align:right;
    width:98%;
  }

  /* The name of the website. */
  .header__site-name {
    font-size: 3.5em;
    margin: 1.2em 0.5em 0.5em;
  }

  /* The link around the name of the website. */
  .header__site-link {
    font-family: $josefin;
    font-weight: bold;
    text-shadow:3px 3px 3px #855B1B;

    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  /* The slogan (or tagline) of a website. */
  .header__site-slogan {
    font-family: $merriweather;
    font-size: 1.7em;
    font-style: italic;
    margin: 0;
    margin-bottom: 4.8em;
    margin-right: 3.6em;
    text-shadow: 4px 4px 4px #0c0c0c;
  }

  #navigation {
    left: 25%;
    margin-bottom: 2em;
    position: absolute;
    top: -0.5%;
    width: 90%;

    .block-menu-block {

      ul {

        li {
          border-left: solid white 3px;
          border-right: solid white 3px;
          border-top: solid white 3px;
          margin: 0.2em;
          margin-bottom: 0;
          padding: 0.5em;

          a {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.4em;
            font-weight: bold;
            letter-spacing: 0.1em;
            vertical-align: 0;
          }
        }
      }

    }
  }

  #block-views-materials-block-1 {
    float: left;
    margin-right: 3em;
    width: 45%;
  }

  #block-views-materials-block-2 {
    float: left;
    margin-right: 3em;
    width: 45%;
  }

  .section-work #navigation {
    margin-top: 0;
  }

}
