/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 16, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 340, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 342, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 347, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 355, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  /* line 357, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 362, ../sass/layouts/_responsive.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
  /* line 370, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
  /* line 372, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 377, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 382, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
  /* line 388, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 392, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
  /* line 397, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 401, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /* line 407, ../sass/layouts/_responsive.scss */
  header {
    background-image: url("../images/banner.jpg");
    background-position: center top;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: right;
    width: 98%;
  }

  /* The name of the website. */
  /* line 419, ../sass/layouts/_responsive.scss */
  .header__site-name {
    font-size: 2.0em;
    margin: 0;
    margin-right: 0.5em;
    margin-top: 0.5em;
  }

  /* The link around the name of the website. */
  /* line 427, ../sass/layouts/_responsive.scss */
  .header__site-link {
    font-family: "Josefin Sans", Helvetica, "Nimbus Sans L", sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 3px #855B1B;
  }
  /* line 433, ../sass/layouts/_responsive.scss */
  .header__site-link:link, .header__site-link:visited {
    color: #fff;
    text-decoration: none;
  }
  /* line 439, ../sass/layouts/_responsive.scss */
  .header__site-link:hover, .header__site-link:focus {
    text-decoration: none;
  }

  /* The slogan (or tagline) of a website. */
  /* line 445, ../sass/layouts/_responsive.scss */
  .header__site-slogan {
    font-family: Merriweather, Arial, "DejaVu Serif", serif;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    margin-bottom: 3.5em;
    margin-right: 3.8em;
    text-shadow: 4px 4px 4px #0c0c0c;
  }

  /* line 455, ../sass/layouts/_responsive.scss */
  #navigation {
    left: 30%;
    /*margin-bottom: 2em;*/
    position: absolute;
    top: 2.5%;
    width: 90%;
  }
  /* line 466, ../sass/layouts/_responsive.scss */
  #navigation .block-menu-block ul li {
    border-left: solid white 3px;
    border-right: solid white 3px;
    border-top: solid white 3px;
    margin: 0.2em;
    margin-bottom: 0;
    padding: 0.2em;
  }
  /* line 474, ../sass/layouts/_responsive.scss */
  #navigation .block-menu-block ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1em;
    vertical-align: 0;
  }

  /* line 487, ../sass/layouts/_responsive.scss */
  .section-work #navigation {
    margin-top: 0;
  }

  /* line 493, ../sass/layouts/_responsive.scss */
  .section-gallery #navigation {
    position: absolute;
    top: 1.1%;
  }

  /* line 501, ../sass/layouts/_responsive.scss */
  .section-materials #navigation {
    position: absolute;
    top: 0.8%;
  }

  /* line 509, ../sass/layouts/_responsive.scss */
  .section-contact #navigation {
    position: absolute;
    top: 1.7%;
  }

  /* line 517, ../sass/layouts/_responsive.scss */
  .node-type-material #navigation {
    position: absolute;
    top: 1.7%;
  }
}
/* Workaround for nav issue */
@media all and (min-width: 480px) and (max-width: 720px) {
  /* line 530, ../sass/layouts/_responsive.scss */
  .section-gallery #navigation {
    position: absolute;
    top: 0.6%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
  /* line 546, ../sass/layouts/_responsive.scss */
  #main {
    padding: 2em 3em 0 3.3em;
  }

  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 553, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 555, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 80%;
    margin-right: 20%;
    margin-left: -100%;
  }
  /* line 560, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 568, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  /* line 570, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 60%;
    margin-right: 0%;
    margin-left: -60%;
  }
  /* line 575, ../sass/layouts/_responsive.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 40%;
    margin-right: 60%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
  /* line 583, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  /* line 585, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 60%;
    margin-right: 20%;
    margin-left: -80%;
  }
  /* line 590, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
  }
  /* line 595, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }

  /**
* hgroup
*/
  /* line 603, ../sass/layouts/_responsive.scss */
  hgroup {
    display: block;
  }

  /* line 607, ../sass/layouts/_responsive.scss */
  header {
    background-image: url("../images/banner.jpg");
    background-position: center top;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: right;
    width: 98%;
  }

  /* The name of the website. */
  /* line 619, ../sass/layouts/_responsive.scss */
  .header__site-name {
    font-size: 3.5em;
    margin: 1.2em 0.5em 0.5em;
  }

  /* The link around the name of the website. */
  /* line 625, ../sass/layouts/_responsive.scss */
  .header__site-link {
    font-family: "Josefin Sans", Helvetica, "Nimbus Sans L", sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 3px #855B1B;
  }
  /* line 631, ../sass/layouts/_responsive.scss */
  .header__site-link:link, .header__site-link:visited {
    color: #fff;
    text-decoration: none;
  }
  /* line 637, ../sass/layouts/_responsive.scss */
  .header__site-link:hover, .header__site-link:focus {
    text-decoration: none;
  }

  /* The slogan (or tagline) of a website. */
  /* line 643, ../sass/layouts/_responsive.scss */
  .header__site-slogan {
    font-family: Merriweather, Arial, "DejaVu Serif", serif;
    font-size: 1.7em;
    font-style: italic;
    margin: 0;
    margin-bottom: 4.8em;
    margin-right: 3.6em;
    text-shadow: 4px 4px 4px #0c0c0c;
  }

  /* line 653, ../sass/layouts/_responsive.scss */
  #navigation {
    left: 25%;
    margin-bottom: 2em;
    position: absolute;
    top: -0.6%;
    width: 90%;
  }
  /* line 664, ../sass/layouts/_responsive.scss */
  #navigation .block-menu-block ul li {
    border-left: solid white 3px;
    border-right: solid white 3px;
    border-top: solid white 3px;
    margin: 0.2em;
    margin-bottom: 0;
    padding: 0.5em;
  }
  /* line 672, ../sass/layouts/_responsive.scss */
  #navigation .block-menu-block ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.1em;
    vertical-align: 0;
  }

  /* line 685, ../sass/layouts/_responsive.scss */
  #block-views-materials-block-1 {
    float: left;
    margin-right: 3em;
    width: 45%;
  }

  /* line 691, ../sass/layouts/_responsive.scss */
  #block-views-materials-block-2 {
    float: left;
    margin-right: 3em;
    width: 45%;
  }

  /* line 697, ../sass/layouts/_responsive.scss */
  .section-work #navigation {
    margin-top: 0;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 27, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 132, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
